/* Imports */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

/* Body */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background-color: #cccccc; /* grey light */
}

.red-border{
    border: red 1px solid;
}

.green-border{
    border: green 1px solid;
}

.blue-border{
    border: blue 1px solid;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.container-size {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.container-form1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.proper-font {

    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 20px;

}

p {
    font-size: 24px;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 20px;
}

h1 {
    font-size: 48px;
	text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
}

h2 {
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 10px;
}

h3 {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
}

ul li {
    font-family: 'Nunito Sans', sans-serif;
}

.add-margin-left{
    margin-left: 20px;
}

button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: #444444;
    border: none;
    color: #bbbbbb;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@media (max-width: 600px) {
    .container {

      flex-direction: column;
    }
}
.offres {
    text-align: center;
}

@media (max-width: 600px) {
    .container-reversed {
      flex-direction: column-reverse;

    }
}

/* Header */

.header {
    margin-left: 20px;
    margin-right: 20px;
    box-sizing:border-box;
}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}

.header ul li {
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
    height: 90px;
    padding-top: 60px;
}

.header ul li a {
    color: #000000;
    text-decoration: none;
}

.header ul li a:hover {
    color: #444444;
}

/* Nav */

.nav-menu {
    position: relative;
    margin-bottom: 120px;
    margin-left: 20px;
    margin-right: 20px;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    border-top: #000000 solid 2px;
    border-bottom: #000000 solid 2px;
}

.nav-menu-responsive ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    border-top: #000000 solid 2px;
    border-bottom: #000000 solid 2px;
}

.nav-menu ul li {
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
    vertical-align: middle;
    height: 30px;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #000000;
}

.nav-menu ul li a:hover {
    color: #444444;
}

.nav-menu ul li .logo-text {
    list-style: none;
    font-family: 'Merienda', cursive;
    vertical-align: middle;
    margin-left: 45px;
    font-size: 100px;
    color: #ffffff;
    position: relative;
    top: 76px;
    left: 21px;
}

.nav-menu ul li .logo-text a:hover {
    color: #C0C0C0;
}

.nav-menu .logo {
    position:absolute;
    height: 200px;
    width: 200px;
    top: -80px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    line-height:50px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
}

.nav-menu .logo a {
    color: #ffffff;
}
.flexReservationsOne {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexReservationsTwo {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.flexReservationsThree {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexReservationsTitle{
    font-size: 24px;
}

.flexReservationsParagraph{
    font-size: 16px;
}

.reservationsImgOne img{
    width: 400px;
    height: 240px;

}

.menu {
    display: none;
    cursor: pointer;
}

.d-block {
    display: block;
}

/* Slider */

.slider-my-slides {display: none}

.slider-slideshow-container {
    max-width: 1200px;
    position: relative;
    margin: auto;
}

.slider-prev, .slider-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slider-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider-prev:hover, .slider-next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slider-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slider-number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slider-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .slider-dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .slider-prev, .slider-next,.slider-text {font-size: 11px}
}

/*BodyPresta*/

.articles-card {
    width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0  rgba(0,0,0,0.3);
    background-color: #cccccc;
}

.articles-container {
    margin-bottom: 20px;
}

.articles-card-textarea {
    padding: 20px;
}

.articles-card-title {
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
}

.articles-cards-keywords {
    background-color: #bbbbbb;
    display: inline-block;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    padding: 5px;
    border-radius: 10%;
}

.articles-cards-keywords-float {
    float: left;
    margin-right: 10px;
}

.avis-container {
    margin-top: 50px;
}

.avis-block {
    background-color: #C0C0C0;
    padding: 10px;
    margin-left: 40px;
    width: 60%;
}

.avis-float {
    float: left;
    margin-right: 5px;
}

.avis-profile-picture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.avis-padding-top {
    padding-top: 5px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
  }
  .card {
    width: 360px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0  rgba(0,0,0,0.3);
    background-color: rgba(0, 0, 0, 0.8);
  }
  .card img {
    width: 360px;
    height: 500px;
  }

  .card .text {
    padding: 0 20px 20px;
    text-align: center;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
  }
  .card .text > button {
    background: gray;
    border: 0;
    color: #fff;
    padding: 10px;
    width: 100%;
    }

    .card-icons-blocks {
      text-align: center;
      width: 360px;
    }

    @media (max-width: 800px){
        .cards .card{
            flex-direction: column;
            margin-bottom: 20px;
        }
    }

.card-circle-icon {
    background: #888888;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}

.slider-number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slider-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .slider-dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .slider-prev, .slider-next,.slider-text {font-size: 11px}
}




/*ContactForm1*/

.myForm > * {
	font: 1.4em 'Unkempt', sans-serif;
   }
   .myForm {
	 display: grid;
	 grid-template-columns: [labels] auto [controls] 1fr;
	 grid-auto-flow: row;
	 grid-gap: .8em .5em;
	 background: #C0C0C0;
	 padding: 1.2em;
	 width: 36em;
   }
   .myForm > label,
   .myForm > fieldset  {
	 grid-column: labels;
	 grid-row: auto;
   }
   .myForm > input,
   .myForm > select,
   .myForm > textarea {
	 grid-column: controls;
	 grid-row: auto;
	 padding: .4em;
	 border: 0;
   }
   .myForm > fieldset,
   .myForm > button {
	 grid-column: span 2;
   }
   .myForm > button {
	 padding: 1em;
	 background: rgb(51, 50, 50);
	 border: 0;
	 color: white;
	 }
   .myForm > textarea {
	 min-height: 3em;
	 }


/* ContactForm2 */

.contact-form .body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(206, 186, 186, 0.8);
    padding: 10px;
}

.contact-form .container{
    max-width: 700px;
    width: 100%;
    background: rgba(119, 153, 96, 0.8);
    padding: 25px 30px;
    border-radius: 5px;
}

.contact-form .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}


form .user-details .input-box{
    margin-bottom: 15px;
}

form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(3, 1, 1, 0.8);
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}

form .buttons{
    height: 45px;
    margin: 35px 0;
}

.details{
    height: 20px;
    margin-top: 30px;
}


form .buttons input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: rgb(226, 221, 221);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    background: rgb(73, 72, 72)
}

form .buttons input:hover{
    background: rgb(104, 29, 29);
}

@media(max-width:600px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%
    }
    form .category{
        width: 100%
    }
    .content form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }

}


/* Footer */

.footer {
    margin-left: 0;
    margin-right: 0;
    box-sizing:border-box;
    background-color: #222222;
    padding: 10px;
    color: #ffffff;

}

.footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}

.footer ul li {
    list-style: none;
    font-family: 'Nunito Sans', sans-serif;
    height: 30px;
}

.footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #666666;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .nav-menu {
        position: relative;
        margin-bottom: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-menu-responsive ul {
        flex-direction: column;
        list-style: none;
        background-color: #666666;
        height: 20px;
    }
    .nav-menu-responsive ul li {
        background-color: #666666;
        height: 20px;
    }
    .nav-menu ul li a {
        text-decoration: none;
        color: #000000;
    }

    .nav-menu ul li a:hover {
        color: #444444;
    }
    .nav-menu-responsive {
        display: block;
    }
    .nav-menu ul li .logo-text {
        list-style: none;
        font-family: 'Nunito Sans', sans-serif;
        vertical-align: middle;
        font-size: 42px;
        color: #ffffff;
        position: relative;
        top: 76px;
        left: 21px;
    }

    .nav-menu .logo {
        position:absolute;
        height: 200px;
        width: 200px;
        top: 0;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        line-height:50px;
        background-color: #000000;
        color: #ffffff;
        border-radius: 50%;
    }

    .nav-menu .logo a {
        color: #ffffff;
    }
}