<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Formulaire responsive</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
<body>
    <div class="container">
        <div class="title">Devis & Contact</div>
        <div class=class="content">
            <form action="#">
                <div class="user-details">
                    <div class='input-box'>
                        <span class="details">Nom / Prénom</span>
                        <input type="text" placeholder="Enter your name" required>
                    </div>
                    <div class='input-box'>
                        <span class="details">Adresse mail</span>
                        <input type="text" placeholder="Enter your mail" required>
                    </div>
                    <div class='input-box'>
                        <span class="details">Téléphone</span>
                        <input type="text" placeholder="Enter your phone" required>
                    </div>
                    <div class='input-box'>
                        <span class="details">Horaire de départ</span>
                        <input type="text" placeholder="Enter your schedule" required>
                    </div>
                    <div class='input-box'>
                        <span class="details">Adresse de prise en charge</span>
                        <input type="text" placeholder="Enter your adress" required>
                    </div>
                    <div class='input-box'>
                        <span class="details">Adresse de destination</span>
                        <input type="text" placeholder="Enter your destination" required>
                    </div>
                </div>
                <div class="buttons">
                    <input type="submit" value="Réserver">
                </div>
            </form>
        </div>
    </div>
    

</body>



</html>