<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Prestations et tarifs</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
<body>
    <div class="title">
        <h1>Réservations et tarifs</h1>
        <h2>Nos gammes de transport</h2>
    </div>
    <div class="ranges">
        <div>
            <img class="picture-1" src="https://picsum.photos/seed/picsum/200/300">
        </div>
        <div>
            <img class="picture-2" src="https://picsum.photos/seed/picsum/200/300">
        </div>
        <div>
            <img class="picture-3" src="https://picsum.photos/seed/picsum/200/300">
        </div>
    </div>
    
       
    
</body>



</html>
